name: Generate GitHub Stats SVG


on:
  schedule:
    - cron: '0 * * * *' # every hour at minute 0 UTC
  workflow_dispatch:


  jobs:
    build:
      runs-on: ubuntu-latest
      
      steps:
        - uses: actions/checkout@v4
          with:
            persist-credentials: true

        - name: Set up Python
          uses: actions/setup-python@v4
          with:
            python-version: '3.11'
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install requests
        - name: Generate SVG
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            USERNAME: RafaelEngel10
            run: python scripts/generate_svg.py
        - name: Commit and push SVG
          run: |
            git config user.name "github-actions[bot]"
            git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git add stats.svg
            git commit -m "chore: update stats.svg" || echo "no changes to commit"
            git push origin HEAD
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}